.container{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.card{
    width: 330px;
    height: 600px;
    display: inline;
}
.img{
    width: 330px;
    height: 500px;
}
.left{
    position: absolute;
    left: 0;
    }
.center{
    position: absolute;
    left: 33.3%;
}
.right{
    position: absolute;
    right: 0%;
}
.brand{
    font-family: sans-serif;
    font-size: 12px;
}
.title{
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
}