.container{
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}
.card{
    width: 330px;
    height: 600px;
    display: inline;
}
.img{
    width: 330px;
    height: 500px;
}
.left{
    position: absolute;
    left: 0;
    }
.center{
    position: absolute;
    left: 35%;
}
.right{
    position: absolute;
    right: 0%;
}
.brand{
    font-family: sans-serif;
    font-size: 12px;
}
.title{
    display: block;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}
.price{
    color: rgb(255, 5, 38);
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
}
.pricebefore{
    font-size: 10px;
    display: inline-block;
    text-decoration: line-through;
}
.redsquare{
    position: absolute;
    top: 77%;
    left: 0;
    display: inline;
    background-color: rgb(245, 43, 70);
    color: white;
    font-size: 13px;
    padding:3px;
}
.greensquare{
    position: absolute;
    top: 77%;
    left: 12%;
    display: inline;
    background-color: rgb(29, 170, 64);
    color: white;
    font-size: 13px;
    padding:3px;
}
.likebutton{
    display: inline;
    position: absolute;
    right: 0;
    top: 3%;
    background-color: white;
    color: black;
    padding:10px
}