.container{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25px;
}

.card{
    display: inline-block;
    width: 32%;
    position: relative;
    margin-bottom: 10px;
    margin-right: 5px;
}

.card>img{
    max-width: 100%;
}

/* Titolo e prezzi */ 
 .brand{
    font-family: sans-serif;
    font-size: 12px;
}
.title{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}
.price{
    color: rgb(255, 5, 38);
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
}
.pricebefore{
    font-size: 10px;
    display: inline-block;
    text-decoration: line-through;
}

/* HOVER */
.card .img1{
    display: block;
}
.card .img2{
    display: none;
}
.card:hover .img1{
    display: none;
}
.card:hover .img2{
    display: block;
}

/* etichette */

.redsquare{
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 0;
    background-color: rgb(245, 43, 70);
    color: white;
    font-size: 13px;
    padding:3px;
}
.greensquare{
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 12%;
    background-color: rgb(29, 170, 64);
    color: white;
    font-size: 13px;
    padding:3px;
}
.likebutton{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 3%;
    background-color: white;
    color: black;
    padding:10px
}
#greensquare{
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 0;
    background-color: rgb(29, 170, 64);
    color: white;
    font-size: 13px;
    padding:3px;
}