.container{
    width: 80%;
    margin: 0 auto;
}
.card{
    width: 330px;
    display: inline-block;
}

.img-box {

}

.img{
    width: 100%;
}
/* .left{
    position: absolute;
    left: 0;
    }
.center{
    position: absolute;
    left: 35%;
}
.right{
    position: absolute;
    right: 0%;
} */
.brand{
    font-family: sans-serif;
    font-size: 12px;
}
.title{
    display: block;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
}
.price{
    color: rgb(255, 5, 38);
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
}
.pricebefore{
    font-size: 10px;
    display: inline-block;
    text-decoration: line-through;
}
.redsquare{
    position: absolute;
    top: 77%;
    left: 0;
    display: inline;
    background-color: rgb(245, 43, 70);
    color: white;
    font-size: 13px;
    padding:3px;
}
.greensquare{
    position: absolute;
    top: 77%;
    left: 12%;
    display: inline;
    background-color: rgb(29, 170, 64);
    color: white;
    font-size: 13px;
    padding:3px;
}
.likebutton{
    display: inline;
    position: absolute;
    right: 0;
    top: 3%;
    background-color: white;
    color: black;
    padding:10px
}

.card .img1{
    display: block;
}
.card .img2{
    display: none;
}

.card:hover .img1{
    display: none;
}
.card:hover .img2{
    display: block;
}


#different{
    position: absolute;
    top: 77%;
    left: 0%;
    display: inline;
    background-color: rgb(29, 170, 64);
    color: white;
    font-size: 13px;
    padding:3px;
}